body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth; /* Smooth scrolling */
}

.parallax-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/bg_office.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    transform: translateZ(0);
    /* animation: parallax 20s infinite linear; */
}

@keyframes parallax {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 10%, 0);
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

h1, h2 {
    color: #333;
    text-align: center;
}

p {
    margin: 10px 0;
}

.section {
    width: 100%;
    margin: 0;
    padding: 5%;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    border-radius: 5px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.section:hover {
    transform: scale(1.02);
}

.inner-container {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #fda085;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fda085;
}

