@font-face {
    font-family: 'Spantaran';
    src: url('fonts/Spantaran-GE2D.ttf') format('truetype');
}

body {
    font-family: 'Spantaran', sans-serif;
    font-size: 500%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #6ff1f7, #e55530);
}

.logo {
    width: 75%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 5%;
}

.overlay {
    width: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.overlay[alt="big-gear"] {
    transform-origin: 44.45% 34.4%;
    animation: rotate 9s linear infinite;
}

.overlay[alt="bottom-gear"] {
    transform-origin: 56.19% 39.13%;
    animation: rotate 6s linear infinite reverse;
}

.overlay[alt="top-gear"] {
    transform-origin: 52.86% 19.18%;
    animation: rotate 6s linear infinite reverse;
}